@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#1A1825];
    font-family: "Inter", system-ui, sans-serif;
  }

  body {
    @apply bg-[#1A1825] min-h-screen;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }

  input[type="number"] {
    @apply appearance-none;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-border rounded-full hover:bg-gray-500 transition-colors;
}
